*{
    margin: 0%;
}

html{
    font-size: 16px;
}

/*Declaramos variables para nuestros colores principales*/
:root{
    --light-purple: #24152F;
    --dark-purple: #10141B;
    --yellow-hp: #986E00;
}

/*Estilo para Welcome Page*/

.welcomePage{
    background-color: var(--light-purple);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;

}

.welcomeMessage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    flex: 1 1 auto;/* flex-grow flex-shrink flex-basis*/

    height: 100%;
    gap: 4%;     
}

.welcomeLogo{
    font-family: "Princess Sofia";
    font-size: 9.3rem;
    color: whitesmoke;
}

.buttonAll{
    border: 2px solid whitesmoke;
    border-radius: 50px;
    background-color: transparent;
    height: 3.1rem;
    width: 12.5rem;

    font-family: "Poppins";
    font-size: 1.25rem; /*leer más de rem*/
    font-weight: 200;
    color: whitesmoke;
    text-align: center;

    cursor: pointer;
}

.buttonAll:hover{
    background-color:rgba(217, 217, 217, 0.06);
}

.welcomeFooter{
    font-family: "Poppins";
    font-size: 0.63rem;
    color:whitesmoke;
    
    /* flex-shrink: 0; */
    flex: 0 1 auto;

    padding: 1.25rem;
}
/*Termina estilo para WelcomePage*/

/*Empieza estilo para el contenido principal*/
.mainContent{
    display: none;
    background-color: var(--dark-purple);
    width: 100%;
}

header{
    /*estoy modificando esto*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    /* height: 12.5rem; */
    padding: 3rem 0rem;
    width: 100%;

    background-color: var(--light-purple);

    color: whitesmoke;
}

nav{
/* Modificar con media queries*/
/*estoy modificando esto*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30%;
}

.logoHP{
    font-family: "Princess Sofia";
    font-size: 4rem;
    color: var(--yellow-hp);

    margin-bottom: 0.63rem;
    /*background-color: fuchsia;*/
}

.cat{
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 1.5rem;

    cursor: pointer;
}

.cat:hover{
    border-bottom: 2px solid whitesmoke;
    font-weight: 600;
}

.division{
    font-size: 1.5rem;
}

/*Esta clase es para poner las categorías en negrita*/
.navCategory{
    font-weight: 600;
}

/*Estilo para la sección filtro*/
#filterHP{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 3%;

    margin: 2.5rem 6.25rem;    
}

.selectHouse, .selectBook{
    width: 200px;
}

select:focus{
    outline: none;
}

/*Estilo para la sección de DataHP y detalles --> main*/
main{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */ /*estoy modificando esto*/
    row-gap: 2rem; /*estoy modificando esto*/

    /* width: 100%; */

    padding-bottom: 2rem;

    margin: 1.5rem 5rem;
    padding: 0rem 1.5rem;
}

.dataHP{
    color: whitesmoke;
    font-family: "Poppins";
    font-size: 1.25rem;
    font-weight: 200;

    /* margin-left: 100px; */
    height: 25rem;
    width: 25rem;
    overflow-y: scroll;
    /*background-color: green;*/
}

.visibleScrollBar::-webkit-scrollbar{
    width: 12px;
}

.visibleScrollBar::-webkit-scrollbar-track{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9); */
    border: 2px solid whitesmoke;
    border-radius: 10px;
    background-color: transparent;
    /* #CCCCCC;*/
}

.visibleScrollBar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: whitesmoke;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
}

.visibleScrollBar::-webkit-scrollbar:window-inactive {
    display: none;
 }

.dataHP div:nth-child(n){
    padding: 0.31rem;
}

.dataHP div:nth-child(n):hover{
    background-color: rgba(217, 217, 217, 0.06);

    border-radius: 50px;
    cursor: pointer;
}

.detailsHP{
    display:flex;
    align-items: center;
}

.container-img{
    /*Modificar esto!!!!*/
    z-index: 1;
    margin-right: -50px;
    width: 15.6rem;
    height: 15.6rem;

    border-radius: 200px;
    border:20px solid var(--dark-purple);
}

.container-table{
    display: flex;
    /* flex-direction: row; */
    /* align-items: center; */
    justify-content: flex-end;

    height: 25rem;
    /* width: 30rem; */

    border-radius: 50px;
    background-color: rgba(217, 217, 217, 0.06);

    color: whitesmoke;
    font-family: "Poppins";
    font-size: 1.25rem;
    font-weight: 200;

    overflow-y: scroll;
    padding: 0rem 1.88rem;
}

.tableDetailsHP{
    margin: 2.5rem 1.25rem;

    height: 18.75rem;
    width: 25rem;

    justify-content: flex-end;
}

.titleTableColumn{
    width: 8.13rem;

    color: var(--yellow-hp);

    /*background-color: whitesmoke;*/
}

.detailTable{
    width: 16.25rem;

    /*background-color: blue;*/
}

.nameDetail{
    font-weight: 600;
}

.pictureCategory{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*Estilo para las estadisticas*/

#statsContent{
    background-color: var(--light-purple);

    /* height: 100vh; */
    display: flex;
    /* flex-flow: column wrap; */
    align-items: center;
    justify-content: center;
}

.boxStatsContent{
    /* background-color: green; */
    display:flex;
    flex-direction: row; /*flex-direction flex-wrap*/
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin: 9.25rem 0rem;
    height: 18.75rem;
}

.statsBox{
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    gap: 1rem;

    overflow-y: hidden; 

    height: 100%;
    width: 15.63rem;
}

.stats1{
    /* background-color: red; */
    order:1;
}
.stats2{
    /* background-color: yellow; */
    order:3;
}
.stats3{
    /* background-color: blue; */
    order:2;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.31rem;
    text-align: center;
    /* background-color: aqua; */
}

.numb{
    font-family: "Princess Sofia";
    font-size: 8rem;
    color: var(--yellow-hp);
}

.info{
    font-family: "Poppins";
    font-size: 1.25rem;
    color:whitesmoke;
}

/*Estilo para la imagen*/
#pictureDivision{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    /* height: 600px; */
    position: relative;
}

.harryFriends{
    object-fit: cover;
    width: 100%;
}

#transparency{
    position: absolute;
    background-color: rgba(36, 21, 47, 0.65);

    width: 100%;
    height: 100%;
}

.textPicture{
    position: absolute;

    color: whitesmoke;
    font-family: "Princess Sofia";
    font-size: 2.5rem;   
}

/*************/

.funContent{
    background-color: var(--dark-purple) ; 
    display: flex;
    /* flex-flow: column wrap; */
    justify-content: center;
    align-items: center;
    
    /* height: 600px; */
    width:100%;
    
    color: whitesmoke;
    text-align: center;

    position: relative;
}

.boxFun{
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    /* overflow: scroll; */

    height: 25rem;
    width: 80%;
    margin: 9.25rem 0rem; 

    /* background-color: aqua; */
}

#left{
    position:absolute;

    left: 10%;
}

#right{
    position:absolute;

    right: 10%;
}

.funFact{
    display: none;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    text-align: center;

    width: 80%;
    /* height: 100%; */

    /* background-color: #986E00; */
}

.type{
    font-family: "Princess Sofia";
    font-size: 6rem; 
    line-height: 1;
    margin: 1.88rem;
}

.content{
    font-family: "Poppins";
    font-size: 1.5rem;
}

.btnArrow{
    border: 2px solid white;
    border-radius: 50%;

    width: 2.5rem;
    height: 2.5rem;

    color: var(--yellow-hp);
    font-size: 1.25rem;
    font-family: "Poppins";
    font-weight: 600;

    background-color: transparent;

    cursor: pointer;
}

/*Estilo para el footer*/

.footerContent{
    display:flex;
    justify-content: center;
    align-items: center;

    width:100%;
    /* height: 100px; */

    background-color: var(--light-purple);

    font-family: "Poppins";
    font-size: 1rem;
    color:whitesmoke;
}

.footerBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin: 2rem 0rem;
}


.gitHub{
    /* margin-left: 75px; */
    /* width:15%;
    height: 15%; */
    padding: 0rem 0.5rem;
}


.instagram{
    /* margin-right: 35px; */
    /* width: 15%;
    height: 15%; */
    padding: 0rem 0.5rem;
}

@media all and (max-width: 480px){
    .welcomeLogo{
        font-size: 5rem;
        padding: 0rem 1rem;
    }

    .exploreBtn{
        width: 10rem;
    }
    
    nav{
        flex-direction: column;
    }

    #filterHP{
        row-gap: 1rem;
    }

    main{
        flex-direction: column;
    }

    .dataHP{
        text-align: center;
        width: 20rem;
        margin-left: 0px;
    }

    .detailsHP{
        flex-direction: column;
    }

    .container-img{
        width: 10rem;
        height: 10rem;
        margin-right: 0px;
        margin-bottom: -30px;
    }

    .container-table{
        height: initial;
        overflow-y:hidden;
        padding: 0rem 0.5rem;
    }
    
    .tableDetailsHP{
        margin: 2.5rem;
        width: initial;
    }
    
    .titleTableColumn{
        width: 5rem;
    }

    .boxStatsContent{
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        height: initial;
    }

    .box{
        flex-direction: row;
    }

    .numb{
        font-size: 4rem;
    }

    .info{
        font-size: 1.25rem;
    }

    .stats2{
        order:2;
    }

    .stats3{
        order: 3;
    }
    
    /* .detailTable{
        width: 16.25rem;
    
        /*background-color: blue;*/

    .textPicture{
        font-size: 1.5rem;
        padding: 0rem 5rem;
    }

    #left{
        left: 6%;
    }

    #right{
        right: 6%;
    }

    .boxFun{
        height: initial;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .type{
        font-size: 3rem;
    }

    .content{
        font-size: 1.25rem;
    }

    .footerContent{
        font-size: 0.7rem;
    }

    .footerBox{
        margin: 1rem 0rem;
    }
   
}