/*Media querys*/
html{
    font-size: 16px;
}

*{
    margin:0%;
}

/*Declaramos variables para nuestros colores principales*/
:root{
    --light-purple: #24152F;
    --dark-purple: #10141B;
    --yellow-hp: #986E00;
}

/*Estilo para Welcome Page*/

.welcomePage{
    background-color: var(--light-purple);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;

}

.welcomeMessage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    flex: 1 1 auto;/* flex-grow flex-shrink flex-basis*/
   /*  background-color: aqua ; */
    height: 100%;
    gap:3%;     
}

.welcomeLogo{
    font-family: "Princess Sofia";
    font-size:9.3rem; /*  ESTUDIAR + */
    color: whitesmoke;

}

.buttonAll{
    border: 2px solid whitesmoke;
    border-radius: 50px;
    background-color: transparent;
    height: 3.1rem;
    width: 12.5rem;

    font-family: "Poppins";
    font-size:  1.25rem;
    font-weight: 200;
    color:whitesmoke;
    text-align: center;

    cursor:pointer;
}

.exploreBtn:hover{
    background-color:rgba(217, 217, 217, 0.06);
}

.welcomeFooter{
    font-family: "Poppins";
    font-size: 0.63rem;
    color:whitesmoke;
    
    /* flex-shrink: 0; */
    flex: 0 1 auto;

    padding: 1.25rem;
}

/*Termina estilo para WelcomePage*/

/*EMPIEZA ESTILO PARA EL CONTENIDO PRINCIPAL*/
.mainContent{
    display: none;
    background-color: var(--dark-purple);
  /*   background-color: papayawhip; */
    width: 100%;

}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 12.5rem;
    width: 100%;

    background-color: var(--light-purple);

    color: whitesmoke;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 20%;
    align-items: center;
    justify-content: center;
    
}

.logoHP{
    font-family: "Princess Sofia";
    font-size: 4rem;
    color: var(--yellow-hp);

    margin-bottom: 0.63rem;
    background-color: fuchsia;
}

.cat{
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 1.5rem;

    cursor: pointer;
}

.cat:hover{
    border-bottom: 2px solid white;
    font-weight: 600;
}

.division{
    font-size: 1.5rem;
}

/*Esta clase es para poner las categorías en negrita*/
.navCategory{
    font-weight: 600;
}

/*Estilo para la sección filtro*/
#filterHP{
    display: flex;
    flex-flow:row wrap;
    gap: 3%;
    margin: 2.5rem 6.25rem;
    /* background-color: aqua; */
    justify-content: flex-start;
 
}


.selectHouse, .selectBook{
    width: 200px;
    /* ckground-color: red; */
}

select:focus{
    outline: none;
}

.boxSelect:hover{
    background-color: rgba(217, 217, 217, 0.06);
}

/*Estilo para la sección de DataHP y detalles --> main*/
main{
    display: flex;
    /* flex-direction: row; */
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 50px;
    /* width: 100%; */

    padding-bottom: 30px;

    /* position:relative; */

    /* height: 450px; */
    margin: 20px 80px;
    padding: 0px 20px;
    /* background-color: blue; */
}

.dataHP{ /*letra de los divs*/
    color:whitesmoke;
    font-family: "Poppins";
    font-size:20px;
    font-weight: 200;
/* 
    margin-left: 100px; */
    height:400px;
    width:400px;
    overflow-y: scroll;
    /*background-color: green;*/
}

.visibleScrollBar::-webkit-scrollbar{
    width: 12px;
}

.visibleScrollBar::-webkit-scrollbar-track{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9); */
    border:2px solid whitesmoke;
    border-radius: 10px;
    background-color: transparent;
    /* #CCCCCC;*/
}

.visibleScrollBar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: whitesmoke;
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
}

.visibleScrollBar::-webkit-scrollbar-thumb:window-inactive {
    display:none;
 }

.visibleScrollBar::-webkit-scrollbar-track:window-inactive {
    display:none;
 }

.dataHP div:nth-child(n){
    padding:5px;
}

.dataHP div:nth-child(n):hover{ /*sombra de cada div*/
    background-color: rgba(217, 217, 217, 0.06);

    border-radius: 50px;
    cursor:pointer;
}

/*.visibleScrollBar::-webkit-scrollbar{
    scrollbar-color: red yellow;
}*/
.main-details{
    display: flex;
    align-items: center;
}
.container-img{
    z-index: 1;
    margin-right: -30px;
}
.detailsHP{
    
    /* margin-right: 100px; */
    
    display: flex;
    flex-direction: row;
    /* align-items: center; --> esto hace que el contenido aparezca incompleto*/
    /* justify-content: flex-end; */

    /* width: 600px;*/
    height: 400px; 

    border-radius: 50px;
    background: rgba(217, 217, 217, 0.06);

    color: whitesmoke;
    font-family: "Poppins";
    font-size:20px;
    font-weight: 200;

    overflow-y: scroll;
    padding: 0px 30px;
}

.tableDetailsHP{
    /*background-color: aqua;*/
    margin: 40px 20px 40px 20px;

    height: 300px;

}

.titleTableColumn{
    width: 130px;

    color: var(--yellow-hp);

    /* background-color: aqua; */

}

.detailTable{
    width: 260px;
    
    /* background-color: greenyellow; */
}

.nameDetail{ /*para hacer más grueso el nombre*/
    font-weight: 600;
}

.containerPictureCategory{
    align-self: center;

    margin-right: 40px;
    /*background-color: #ad364a;*/

    width: 250px;
    height: 250px;

    border-radius: 200px;
    border:20px solid var(--dark-purple);

    position:absolute;
    right: 500px;
}

.pictureCategory{
    object-fit: cover;
    width:200px;
    height:200px;
}

/*Estilo para las estadisticas*/

/*sección para las estadísticas*/
#statsContent{
    background-color: var(--light-purple);

    /* height: 100vh; */
    display: flex;
    /* flex-flow: column wrap; */
    align-items: center;
    justify-content: center;

    height: 600px;

}

.boxStatsContent{
    /* background-color: green; */

    display:flex;
    flex-direction: row; /*flex-direction flex-wrap*/
    align-items: center;
    justify-content: center;
    gap:64px;

    height:50%;
}



.statsBox{ /*sección que contiene a los divs*/
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    gap: 16px;

    overflow-y: hidden; 

    height: 100%;
    width: 250px;
}

.stats1{
    /* background-color: red; */
    order:1;
}
.stats2{
    /* background-color: yellow; */
    order:3;
}
.stats3{
    /* background-color: blue; */
    order:2;
}

.box{ /*div que contiene a los parrafos(info)*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;

    text-align: center;

    /* background-color: aqua; */
}


/* .stats1{
    background-color: red;
}
.stats2{
    background-color: yellow;
}
.stats3{
    background-color: blue;
} */

.numb{ /*información del número*/
    font-family: "Princess Sofia";
    font-size: 128px;
    color: var(--yellow-hp);
}

.info{ /*información del parrafo*/
    font-family: "Poppins";
    font-size: 20px;
    color:whitesmoke;
}

/*Estilo para la imagen*/
#pictureDivision{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    
    position: relative;
}

.harryFriends{
    object-fit: cover;
    width:100%;
    height:100%;
}

#transparency{
    position: absolute;
    background-color: rgba(36, 21, 47, 0.65);

    width: 100%;
    height: 100%;
}

.textPicture{
    position: absolute;
    
    color: whitesmoke;
    font-family: "Princess Sofia";
    font-size: 40px;   
}

/*************/

.funContent{
    background-color: var(--dark-purple) ; 
    display: flex;
    /* flex-flow: column wrap; */
    justify-content: center;
    align-items: center;
    
    height: 600px;
    width:100%;
    
    color: whitesmoke;
    text-align: center;

    position: relative;
}

.boxFun{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    /* overflow: scroll; */

    height: 400px;
    width: 80%;

    /* background-color: aqua; */
}

#left{
    position:absolute;

    left: 10%;
}

#right{
    position:absolute;

    right: 10%;
}

.funFact{
    display: none;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */

    width: 80%;
    /* height: 100%; */

    /* background-color: #986E00; */
}

.type{
    font-family: "Princess Sofia";
    font-size: 96px; 
    
}

.content{
    font-family: "Poppins";
    font-size: 24px;
}

.btnArrow{
    border: 2px solid white;
    border-radius: 50%;

    width: 40px;
    height: 40px;

    color: var(--yellow-hp);
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 600;

    background-color: transparent;

    cursor: pointer;
}

.btnArrow:hover{
    background-color: rgba(217, 217, 217, 0.10)
}

.type{
    line-height: 1;
    margin:30px;
}

/*Estilo para el footer*/

.footerContent{
    display:flex;
    justify-content: center;
    align-items: center;

    width:100%;
    height: 100px;

    background-color: var(--light-purple);

    font-family: "Poppins";
    font-size: 16px;
    color:whitesmoke;
}

.footerBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.gitHub{
    /* margin-left: 75px; */
    /* width:15%;
    height: 15%; */
    padding: 8px;
    text-align: center;
}


.instagram{
    /* margin-right: 35px; */
    /* width: 15%;
    height: 15%; */
    padding: 8px;
    text-align: center;
}
